
.main{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 100px;
}


.main div {
  flex: 1;
}

.cont{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 10px;
}

.cont a{
  text-decoration: none;
  padding: 10px;
  margin: 2px;
  color:white;
  border-radius: 5px;
  background-color:teal;
}