*,
*::before,
*::after{
  font-size: 1.1em;
  margin: 0;
  box-sizing: border-box;
}


body{
  background-color: #1A1A1D;
  background-image: url('../styles/photos/wn.png');
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height:100%;
}

nav {
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  margin: 15px 30px;
}

.content{
  margin-top: 130px;
  padding-top: 120px;
}

.heading{
  display: flex;
  justify-content: center;
}

.heading h1{
  color: #d2c807;
  padding: 20px;
  font-size: 50px;
}

.text p{
  font-size: large;
  text-align: center;
  font-size: 30px;
  color: #fafeff;
}

.text2{
  margin-top: 100px;
}

.text2 p{
  color: #d2c807;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  font-family: 'Shantell Sans', cursive;
}
