*,
*::before,
*::after {
  font-size: 1.1em;
}

body{
  background-image: url('../styles/photos/wn.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height:100%;
}


nav {
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  margin: 15px 30px;
}

.main {
  padding-top: 10vh;
  
}


form {
  width: calc(70vw + 25px);
  margin: 2em auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:darkseagreen;
  border-radius: 6px;
  box-shadow:0 0 5px rgba(0,0,0,0.6);
}

.form-groups {
  width: 80%;
  padding: 10px;
}


.form-groups > * {
  padding: 0.5em;
  margin: 0.1em;
}



@media only screen and (min-width: 680px) {
  form {
    width: 600px;
    background-color: darkseagreen;
    margin: 1em auto;
  }
}