{% extends "home.html"  %}

{% block stylesheet  %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/blogs.css')  }}">
{% endblock  %}

{% block content  %}
<div class="center-it">
  <div class="main">

    <div class="create-new cont">
      <a href="/create">New Blog</a>
    </div>

    <div class="thread-content cont">
      <!-- <ul class="list-group list-group-flush" id="blogs-thread"> -->

        <!-- {% for note in user.blogper %}

        <div class="blog-container">
          <header class="blog-title">{{ note.title }}</header>
          <div class="blog-content">
            <pre>{{ note.data }}</pre>
          </div>
          
        </div>

        {% endfor %} -->
        {% for note in blogs %}
        <a href="/blogs/<note.id>">
          <div class="blog-container">
            <div class="user-name">u/{{ note.user.username }}</div>
            <header class="blog-title">{{ note.title }}</header>
            <div class="blog-content"> 
              <pre>{{ note.data }}</pre>
            </div>
          </div>
        </a>
        {% endfor %}

    </div>
  </div>
</div>
{% endblock  %}